
@ChildContent
<section id="home">
<Index/>
</section>
<section id="about">
<About/>
</section>
<section id="missions">
<Missions/>
</section>
<section id="projects">
<Projects/>
</section>
<section id="achievements">
<Achievements/>
</section>
<section id="reception">
<Reception/>
</section>


@code {
    [Parameter]
    public RenderFragment ChildContent{ get; set; }
}
