@using Shultc.Components.Header
@using Shultc.Components.Footer
@using Shultc.Components.Main
@inherits LayoutComponentBase

<PageTitle>Shultc</PageTitle>

<Header>
       <ChildContent>
           
           </ChildContent>
        </Header>
    <Main>
        <ChildContent>
            @Body
        </ChildContent>
    </Main>
    <Footer>
        <ChildContent>

        </ChildContent>
    </Footer>
