
.first100 {
    height: 100px;
}
.sourceSans3 {
    font-family: 'Source Sans 3', sans-serif;
}

.commissioner {
    font-family: 'Commissioner', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}