@using Shultc.Components.Header
@using Shultc.Components.Footer
@using Shultc.Components.Main
@inherits LayoutComponentBase

<PageTitle>Shultc</PageTitle>
<div class="main-wrapper @font">
    <Header>
       <ChildContent>
           
           </ChildContent>
        </Header>
    <Main>
        <ChildContent>
            @Body
        </ChildContent>
    </Main>
    <Footer>
        <ChildContent>

        </ChildContent>
    </Footer>
    </div>
@code{

    private string? font = "sourceSans3";

    private void ChangeFontFamily(string fontFamily)
    {
        font = fontFamily;
    }
}