
<div class="nav">
    <div class="navlink-header">
        <NavLink href="">Главная</NavLink>
    </div>
    <div class="navlink-header">
    <NavLink class="navlink-header" href="about">Автобиография</NavLink>
    </div>
    <div class="navlink-header">
    <NavLink class="navlink-header" href="missions">Цели и задачи</NavLink>
    </div>
    <div class="navlink-header">
    <NavLink class="navlink-header" href="projects">Проекты</NavLink>
    </div>
    <div class="navlink-header">
    <NavLink class="navlink-header" href="achievements">Достижения</NavLink>
    </div>
    <div class="navlink-header">
    <NavLink class="navlink-header" href="reception">Виртуальная приёмная</NavLink>
    </div>
</div>