@using Shultc.Components.Header

<NavBurger/>
<nav class="nav">
    <div class="navlink-header ">
        <a href="#home">Главная</a>
    </div>
    <div class="navlink-header">
        <a href="#about">Автобиография</a>
    </div>
    <div class="navlink-header">
        <a href="#missions">Цели и задачи</a>
    </div>
    <div class="navlink-header">
        <a href="#projects">Проекты</a>
    </div>
    <div class="navlink-header">
        <a href="#achievements">Достижения</a>
    </div>
    <div class="navlink-header">
        <a href="#reception">Виртуальная приёмная</a>
    </div>
</nav>