@using Shultc.Components.Header

<NavBurger/>
<nav class="nav">
    <div class="navlink-header ">
        <NavLink href="">Главная</NavLink>
    </div>
    <div class="navlink-header">
        <NavLink href="about">Автобиография</NavLink>
    </div>
    <div class="navlink-header">
        <NavLink href="missions">Цели и задачи</NavLink>
    </div>
    <div class="navlink-header">
        <NavLink href="projects">Проекты</NavLink>
    </div>
    <div class="navlink-header">
        <NavLink href="achievements">Достижения</NavLink>
    </div>
    <div class="navlink-header">
        <NavLink href="reception">Виртуальная приёмная</NavLink>
    </div>
</nav>