@ChildContent
<header>
    <div class="header-flag">
        <div class="navmenu-margin">
            <NavMenu />
        </div>
    <MainHeader />
    </div>
</header>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
