
<header>
        <div class="navmenu-margin">
            
            <NavMenu/>
        </div>
    
    @ChildContent
        
</header>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public EventCallback<string> ButtonClickCallback { get; set; }
    private string? imageSource = $"/images/portrait.png";
     private string? fontFamily = "";
    private string? sourseSans = "sourceSans3";
    private string? commissioner = "commissioner";
    private string? inter = "inter";
}
