
<header>
        <div class="navmenu-margin">
            
            <NavMenu/>
        </div>
    
    @ChildContent
        
</header>
@*<button class="btn btn-primary tmpb1" @onclick="@(e=>ButtonClickCallback.InvokeAsync(sourseSans))">sourseSans</button>
<button class="btn btn-primary tmpb2" @onclick="@(e=>ButtonClickCallback.InvokeAsync(commissioner))">commissioner</button>
<button class="btn btn-primary tmpb3" @onclick="@(e=>ButtonClickCallback.InvokeAsync(inter))">inter</button>*@
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public EventCallback<string> ButtonClickCallback { get; set; }
    private string? imageSource = $"/images/portrait.png";
     private string? fontFamily = "";
    private string? sourseSans = "sourceSans3";
    private string? commissioner = "commissioner";
    private string? inter = "inter";
}
