<div class="header-wrapper">
    <div class="description">
        <h2 class="surname">Шульц</h2>
        <h2>Евгений Сергеевич</h2>
        <p>Предприниматель</p>
    </div>
    <div class="portrait">
        <div class="img-wrapper">
            <img src="@imageSource" alt="" />
        </div>
    </div>
</div>
@code{
    private string? imageSource = $"/images/portrait.png";
}