.header-wrapper {
    display: flex;
    width: 100%;
    height: 90%;
}

.description {
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:end;
    color:white;
    width:50%;
    z-index:2;
    padding: 0 5% 2% 0;
    font-size:2em;
}
.description h1{
    font-size:3em;
}
.description h2 {
        font-size: 2em;
        margin-bottom:10%;
    }
.description p{

}

.portrait {
    padding:0;
    margin:0;
    width: 50%;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    
}
    .img-wrapper img {
        width: stretch;
        height: 100%;
        z-index: 2;
    }
