.footer-wrapper {
    width:100%;
    background-color:rgb(15,40,60);
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
}
.sourceSans3 {
    font-family: 'Source Sans 3', sans-serif;
}

.commissioner {
    font-family: 'Commissioner', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}
.tmp{
    display:flex;
    justify-content:center;
    padding-bottom:100px;
    margin-top:-100px;
}
.footer-nav {
    margin:5% 0 2% 0;
    width:100%;
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:center;
}
.footer-description {
    color: white;
    font-size: 2em;
    margin: 0 0 7% 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}
::deep.footer-description a {
    color: white;
    text-decoration: underline;
    font-size: 1em;
}
    ::deep.footer-description a:hover {
        color: red;
    }

    .navlink-footer {
        margin: 0 1% 0 1%;
    }
::deep.navlink-footer a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}
::deep.navlink-footer a:hover{
    color:red;
}
@media(max-width:1200px) {

}

@media(max-width:768px) {
    .footer-nav{
        flex-direction:column;
    }
    .footer-description {
        font-size: 1.2em;
    }
    .navlink-footer {
        padding: 5px 0;
    }
    }

