@using Shultc.Components;

@page "/";
<section id="home" >
    <div class="main-flag">
        <div class="header-wrapper">
            <div class="description">
                <h2 class="surname">Шульц</h2>
                <h2 class="second-name">Евгений Сергеевич</h2>
                <span>Предприниматель</span>
            </div>
            <div class="portrait">
                <div class="img-wrapper">
                    <img src="@imageSource" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main">
    <div class="content">
    <div class="content-row">
        <ContentCard Href="/" ImageSrc="images/index/main.jpg" Name="Главная"/>
        <ContentCard Href="/about" ImageSrc="images/index/about.jpg" Name="Автобиография"/>
        <ContentCard Href="/missions" ImageSrc="images/index/missions.jpg" Name="Цели и задачи"/>
    </div>
    <div class="content-row">
        <ContentCard Href="/projects" ImageSrc="images/index/projects.jpg" Name="Проекты"/>
        <ContentCard Href="/achievements" ImageSrc="images/index/achievements.jpg" Name="Достижения"/>
        <ContentCard Href="/reception" ImageSrc="images/index/reception.jpg" Name="Виртуальная приёмная"/>
    </div>
    <div class="content-row">
        <div class="content-description">
            <h5>Заголовок</h5>
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</p>
                <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.</p>
                <p>Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.</p>
                <p>Cras ut metus a risus iaculis scelerisque eu ac ante.</p>
                <p>Fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
                <p>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis.</p>
        </div>
    </div>
    </div>
</section>
@code {
    private string? imageSource = $"/images/portrait.png";
    
}
