/*
@font-face {
    font-family: 'MeiryoUI';
    src: local('MeiryoUI') url('fonts/Meiryo UI W53 Regular.ttf') format('truetype');
}
*/
p,a, span {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a{
    text-decoration:none;
}
ul,
li {
    list-style-type: none;
}
main{
}
.onpage {
    padding-top: 100px;
}