@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Inter&family=Source+Sans+3&display=swap');

p, a, span {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /*font-family: 'Commissioner', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans 3', sans-serif;*/
}
a{
    text-decoration:none;
}
ul,
li {
    list-style-type: none;
}
main{
}
.onpage {
    padding-top: 100px;
}